.header {
  text-align: center;
  margin: auto;
}

.hospital {
  width: 500px;
  margin: auto;
  text-align: center;
  padding: 5px;
}

.search {
  width: 500px;
  margin: auto;
  text-align: center;
  padding: 5px;
}

.button {
  margin: auto;
  text-align: center;
  padding: 5px;
}

.table {
  width: 800px;
  margin: auto;
  text-align: center;
  padding: 5px;
}